table {
	border-collapse: collapse;
}



table th {
	text-align: left;
	background-color: blue;
	color: white;
	padding: 4px 30px 4px 8px;
}

table td {
	border: 1px solid gray;
	padding: 4px 8px;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

